mixin icon(name,mod,width,height)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod width=width height=height)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)

mixin button-link(href, text, arrow)
	a.button-link(href=href)&attributes(attributes)
		if arrow
			span.button-link.button-link--text #{text}
			span.button-link.button-link--icon
				+icon('icon-arrow-right', 'hero__link--icon', '13', '13')
		else
			span.button-link.button-link--text #{text}

mixin button-link-video(href, text)
	a.button-link.button-link--video(href=href)&attributes(attributes)
		span.button-link.button-link--icon.button-link--icon-video
			+icon('icon-play', 'hero__link--icon', '13', '13')
		span.button-link.button-link--text.button-link--text-video #{text}

mixin button-submit(href, text, arrow)
	button.button-link.button-link--submit(type="submit")&attributes(attributes)
		span.button-link.button-link--text #{text}
		span.button-link.button-link--icon
			+icon('icon-arrow-right', 'hero__link--icon', '13', '13')

mixin popup-nav-prev(color)
	.popup-nav.popup-nav--prev(class=color ? `popup-nav--${color}`: false)&attributes(attributes)
		+icon("icon-arrow-right", "popup-nav__icon", "13", "13")

mixin popup-nav-next(color)
	.popup-nav.popup-nav--next(class=color ? `popup-nav--${color}`: false)&attributes(attributes)
		+icon("icon-arrow-right", "popup-nav__icon", "13", "13")

mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href)=text
		else
			span.breadcrumbs__text=text
