mixin icon(name,mod,width,height)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod width=width height=height)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)

mixin button-link(href, text, arrow)
	a.button-link(href=href)&attributes(attributes)
		if arrow
			span.button-link.button-link--text #{text}
			span.button-link.button-link--icon
				+icon('icon-arrow-right', 'hero__link--icon', '13', '13')
		else
			span.button-link.button-link--text #{text}

mixin button-submit(href, text, arrow)
	button.button-link.button-link--submit(type="submit")&attributes(attributes)
		span.button-link.button-link--text #{text}
		span.button-link.button-link--icon
			+icon('icon-arrow-right', 'hero__link--icon', '13', '13')
