section.photo-gallery-exhibition
	.container
		ul.breadcrumbs__list
			+breadcrumbs-item("Главная", "index.html")
			+breadcrumbs-item("Фотогалерея", "photo-gallery.html")
			+breadcrumbs-item("Ресторан")
		.photo-gallery-exhibition__content
			h1.photo-gallery-exhibition__title.font-h1.section__title Ресторан
			ul.photo-gallery-exhibition__list._gallery
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-1-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-1-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-1-mobile.jpg" alt="Фотография ресторана 1" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-2-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-2-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-2-mobile.jpg" alt="Фотография ресторана 2" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-3-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-3-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-3-mobile.jpg" alt="Фотография ресторана 3" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-4-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-4-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-4-mobile.jpg" alt="Фотография ресторана 4" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-5-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-5-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-5-mobile.jpg" alt="Фотография ресторана 5" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-6-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-6-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-6-mobile.jpg" alt="Фотография ресторана 6" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-1-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-1-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-1-mobile.jpg" alt="Фотография ресторана 1" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-2-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-2-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-2-mobile.jpg" alt="Фотография ресторана 2" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-3-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-3-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-3-mobile.jpg" alt="Фотография ресторана 3" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-4-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-4-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-4-mobile.jpg" alt="Фотография ресторана 4" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-5-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-5-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-5-mobile.jpg" alt="Фотография ресторана 5" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-6-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-6-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-6-mobile.jpg" alt="Фотография ресторана 6" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-1-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-1-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-1-mobile.jpg" alt="Фотография ресторана 1" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-2-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-2-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-2-mobile.jpg" alt="Фотография ресторана 2" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-3-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-3-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-3-mobile.jpg" alt="Фотография ресторана 3" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-4-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-4-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-4-mobile.jpg" alt="Фотография ресторана 4" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-5-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-5-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-5-mobile.jpg" alt="Фотография ресторана 5" width="120" height="120")
				li.photo-gallery-exhibition__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.photo-gallery-exhibition__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-6-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-6-tablet.jpg")
						img.photo-gallery-exhibition__img(src="static/images/content/restaurant/gallery-6-mobile.jpg" alt="Фотография ресторана 6" width="120" height="120")
