.restaurant-gallery
	.container
		.restaurant-gallery__content
			h2.restaurant-gallery__title.section__title.font-h2 Сказочный интерьер
			ul.restaurant-gallery__list._gallery
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-1-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-1-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-1-mobile.jpg" alt="Фотография ресторана 1" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-2-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-2-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-2-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-3-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-3-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-3-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-4-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-4-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-4-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-5-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-5-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-5-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-6-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-6-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-6-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-1-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-1-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-1-mobile.jpg" alt="Фотография ресторана 1" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-2-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-2-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-2-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-3-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-3-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-3-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-4-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-4-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-4-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-5-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-5-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-5-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
				li.restaurant-gallery__item(data-src="static/images/content/restaurant/gallery-2-big-mobile.jpg"
					data-sources='[{"srcset": "static/images/content/restaurant/gallery-2-big-desktop.jpg", "media":"(min-width:1024px)"}, {"srcset": "static/images/content/restaurant/gallery-2-big-tablet.jpg", "media":"(min-width:768px)"}]')
					picture.restaurant-gallery__picture
						source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/gallery-6-desktop.jpg")
						source(media="(min-width: 768px)" srcset="static/images/content/restaurant/gallery-6-tablet.jpg")
						img.restaurant-gallery__img(src="static/images/content/restaurant/gallery-6-mobile.jpg" alt="Фотография ресторана" width="120" height="120")
